
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="deleteButton">
    <form asp-controller="Cheep" asp-action="DeleteCheep" method="post" style="display:inline;">
                <input type="hidden" name="cheepId" />
                <input name="__RequestVerificationToken" type="hidden" />
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" style="background:none;border:none;color: red;padding:0;margin-left: 10px;cursor:pointer"/>
            </form>
    </div>
}
