@using Chirp.WebService.Extensions
@model Chirp.Core.Dto.CheepDto

@if (User.GetUserEmail().Equals(Model.AuthorEmail))
{
     <form asp-controller="Cheep" asp-action="Delete" style="display:inline;">
         <input type="hidden" name="cheepId" value="@Model.CheepId"/>
         <input name="__RequestVerificationToken" type="hidden"/>
         @Html.AntiForgeryToken()
         <button type="submit" style="background:none;border:none;color: red;padding:0;margin-left: 10px;cursor:pointer">
             Delete
         </button>
     </form>
 }
