

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="deleteButton">
    <form asp-controller="Cheep" asp-action="DeleteCheep" style="display:inline;">
        <input type="hidden" name="cheepId"/>
        <input type="submit" value="Delete" style="background:none;border:none;color: red;padding:0;margin-left: 10px;cursor:pointer"/>
    </form>
    </div>
}
