@using Chirp.Core.Extensions
@model Chirp.Core.Dto.CheepDto

@{
    var user = User.GetUser();
}
@if (user?.Username.Equals(Model.AuthorUsername) ?? false)
{
     <form asp-controller="Cheep" asp-action="Delete" style="display:inline;">
         <input type="hidden" name="cheepId" value="@Model.CheepId"/>
         <input name="__RequestVerificationToken" type="hidden"/>
         @Html.AntiForgeryToken()
         <button type="submit" style="background:none;border:none;color: red;padding:0;margin-left: 10px;cursor:pointer">
             Delete
         </button>
     </form>
 }
