<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/output.css" type="text/css"/>
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="flex flex-col h-screen">
    <partial name="_HeaderPartial"/>
    @RenderBody()
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>