<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/output.css" type="text/css"/>
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body class="flex flex-col h-screen">
    <partial name="_HeaderPartial"/>
    @RenderBody()
</body>
</html>