@page "/"
@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Authorization
@model Chirp.WebService.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    
    <partial name="Shared/_AddCheepForm"/>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                   <p>
                       <strong>
                           <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                       </strong>
                       @cheep.Text
                       <small>&mdash; @cheep.Timestamp</small>
                       <form method="post" action="/cheeps/delete/CheepId" style="display:inline;">
                           <input type="submit" value="Delete" style="background:none;border:none;color:red;padding:0;margin-left:10px;cursor:pointer;"/>
                       </form>
                   </p>
                        
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <!--Pagination-->
    <div>
        @for (int i = 1; i <= Model.AmountOfPages; i++)
        {
            <a href="/?page=@i">@i</a>
        }
    </div>
</div>