@page "/"
@model Chirp.WebService.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    
    //Try to retrieve the Page parameter (if any)
    int PageIndex = 0;
    try
    {
        PageIndex = int.Parse(Request.Query["page"]);
    }
    catch (Exception e) when (e is FormatException ||
                              e is ArgumentNullException)
    {
        //Continue running with PageIndex = 0
    }
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <!--Pagination-->
    <div>
        @for (int i = 1; i <= Model.AmountOfPages; i++)
        {
            <a href="/?page=@i">@i</a>
        }
    </div>
</div>